﻿@{
    Layout = "~/Views/Shared/_LayoutTochuc.cshtml";
}
@model List<PBL3_QLHDTN.ViewModel.banHD>
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tạo hoạt động</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <!-- Dẫn đường link đến các font chữ sử dụng trong trang -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inder:wght@400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="styleTaoHD.css">
</head>
<body>
    <div class="themban">
    <form method="post">
        <div class="Text_TYC"> Tạo yêu cầu cho hoạt động </div>
        <div class="container-10">
            <input type="text" class="nhp-tn-ban" name="TenBan" placeholder="Nhập tên Ban"></input>
            <div class="slng-tnv"> Số lượng TNV trong Ban:</div>
            <input type="number" class="SL-moiBan" name="SLBan" placeholder="0"></input>
        </div>
        <div class="container-9">
            <input type="text" class="nhp-nhim-vca-ban" name="NhiemVu" placeholder="Nhập nhiệm vụ của Ban "></input>
            <input type="text" class="nhp-yu-cu-ca-ban" name="Yeucau" placeholder="Nhập yêu cầu của ban"></input>
        </div>
        <button onclick="Themban()" action="ThemBan" class="thm-ban">Thêm Ban</button>
            @if (Model != null && Model.Any())
            {
                <table class="dsban" id="dsban" name="dsban">
                    <thead>
                        <tr>
                            <th>Tên ban</th>
                            <th>Số lượng tình nguyện viên trong mỗi ban</th>
                            <th>Nhiệm vụ</th>
                            <th>yêu cầu</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var yc in Model)
                        {
                            <tr>

                                <td>@yc.Tenban</td>
                                <td>@yc.Sltnvcan</td>
                                <td>@yc.Nhiemvu</td>
                                <td>@yc.Yeucau</td>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <table class="dsban" id="dsban" name="dsban">
                    <thead>
                        <tr>
                            <th>Tên ban</th>
                            <th>Số lượng tình nguyện viên trong mỗi ban</th>
                            <th>Nhiệm vụ</th>
                            <th>yêu cầu</th>
                        </tr>
                    </thead>
                </table>
            }
        </form>
        <p class="TB">
            @ViewBag.thongbao
        </p>
    </div>
</body>
<style>
    .TB {
        position: absolute;
        top: 450px;
        left: 600px;
        height: 51px;
        width: 300px;
        font-size: 25px;
        color: red;
    }
    .themban{
        background: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 3px;
        width: 1440px;
        box-sizing: border-box;
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    .Text_TYC {
        margin: 0 0 91px 0.9px;
        font-family: 'Baloo';
        font-size: 32px;
        color: #000000;
        align-items: center;
    }

    .themban .nhp-tn-ban {
        width: 300px;
        height: 49px;
        padding: 5px;
        border: 2px solid #0f8730;
        border-radius: 20px;
        font-size: 24px;
        font-family: 'Barlow';
        text-align: center;
        margin-bottom: 20px;
        margin-right: 50px;
    }

    .themban .SL-moiBan {
        width: 100px;
        height: 49px;
        padding: 5px;
        border: 2px solid #0f8730;
        border-radius: 20px;
        font-size: 20px;
        font-family: 'Barlow';
        text-align: center;
        margin-bottom: 20px;
        /* margin-top: 30px; */
    }

    .themban .container {
        margin: 0 69.3px 5.1px 0;
        display: inline-block;
        align-self: center;
        overflow-wrap: break-word;
        font-family: 'Barlow';
        font-weight: 400;
        font-size: 30px;
        color: rgba(0, 0, 0, 0.5);
    }

    .themban .container-1 {
        border-radius: 20px;
        border: 1px solid #0F8730;
        background: #FFFFFF;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 0 8.7px 2.7px 0;
        width: 157px;
        box-sizing: border-box;
    }

    .themban .container-10 {
        margin-bottom: 110px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 996px;
        box-sizing: border-box;
    }

    .themban .nhp-nhim-vca-ban {
        width: 500px;
        height: 49px;
        padding: 5px;
        border: 2px solid #0f8730;
        border-radius: 20px;
        font-size: 24px;
        font-family: 'Barlow';
        text-align: center;
        margin-bottom: 20px;
        margin-right: 50px;
    }

    .themban .nhp-yu-cu-ca-ban {
        width: 500px;
        height: 49px;
        padding: 5px;
        border: 2px solid #0f8730;
        border-radius: 20px;
        font-size: 24px;
        font-family: 'Barlow';
        text-align: center;
        margin-bottom: 20px;
    }

    .themban .container-2 {
        border-radius: 70px;
        background: #29B24F;
        position: relative;
        margin-left: 54px;
        display: flex;
        padding: 10px 0 17px 43.8px;
        width: 286px;
        box-sizing: border-box;
    }

    .themban .container-14 {
        margin: 0 94px 0 1px;
        display: flex;
        flex-direction: row;
        width: fit-content;
        box-sizing: border-box;
    }

    .logo {
        background: url('../assets/images/image_37.png') 50% / cover no-repeat;
        width: 105px;
        height: 99px;
    }


    .themban .nhp-thng-tin-tm-kim {
        opacity: 0.5;
        overflow-wrap: break-word;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 30px;
        color: #000000;
    }

    .themban .container-TK {
        border-radius: 20px;
        border: 1px solid #000000;
        background: #FFFFFF;
        position: relative;
        margin: 6px 30px 4px 0;
        display: flex;
        flex-direction: row;
        padding: 2px 27.3px 11px 15px;
        box-sizing: border-box;
    }

    

    .themban .to-yu-cu-cho-hotng {
        margin: 0 0 91px 0.9px;
        display: inline-block;
        overflow-wrap: break-word;
        font-family: 'Inder';
        font-weight: 400;
        font-size: 32px;
        color: #000000;
    }

    .themban .slng-tnv {
        margin: 19px 0 23px 0;
        width: 350px;
        display: inline-block;
        overflow-wrap: break-word;
        font-family: 'Barlow';
        font-weight: 400;
        font-size: 30px;
        color: #000000;
    }

    .themban .container-9 {
        margin-bottom: 93px;
        display: flex;
        flex-direction: row;
        width: 996px;
        box-sizing: border-box;
    }

    .themban .thm-ban {
        margin: 0 20px 189px 841px;
        display: inline-block;
        align-self: flex-end;
        overflow-wrap: break-word;
        font-family: 'Baloo', 'Roboto Condensed';
        font-weight: 400;
        font-size: 30px;
        border: #0F8730;
        border-radius: 20px;
        color: #000000;
        margin-bottom: 20px;
    }

    .dsban {
        position: absolute;
        left: 200px;
        top:600px;
        width: 1061px;
        border-collapse: collapse;
    }
    .dsban th, .dsban td {
        padding: 20px; /* Thêm padding cho các ô */
        text-align: center; /* Căn giữa văn bản trong ô */
    }

    .dsban th {
        background-color: #f2f2f2; /* Màu nền cho hàng tiêu đề */
    }

    .dsban tr:nth-child(even) {
        background-color: #f9f9f9; /* Màu nền cho các hàng chẵn */
    }

    .dsban tr:hover {
        background-color: #ddd; /* Màu nền khi hover trên hàng */
    }

    .dsban th, .dshoatdongtd {
        border: 1px solid #ddd; /* Đường viền cho các ô */
    }
</style>