
@using PBL3_QLHDTN.Models
@model  List<PBL3_QLHDTN.ViewModel.HoatdongcanhanViewModel>
@{
    Layout = "~/Views/Shared/_LayoutCanhan.cshtml";
}
@{
    var scheme = Context.Request.Scheme;
    var host = Context.Request.Host;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <base href="https://localhost:7196/">
    <title>Hoạt động cá nhân</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Baloo:wght@400&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter Da 2:wght@400&display=swap" />
   
</head>
<body>
    <form method="post" action="/Canhan/Hoatdongcanhan" id="form1">
        <div class="container">
        <div class="retangle1"></div>
        <select class="cbbtinhtrang" id="cbbtinhtrang" name="cbbtinhtrang">
            <option disabled selected hidden>Chọn tình trạng</option>
            <option value="Đã đăng ký">Đã đăng ký</option>
            <option value="Đã được duyệt">Đã được duyệt</option>
            <option value="Đã tham gia">Đã tham gia</option>
            <option value="Đã huỷ">Đã hủy</option>
        </select>
        <select class="cbblinhvuc" id="cbblinhvuc" name="cbblinhvuc">
            <option disabled selected hidden>Chọn lĩnh vực</option>
            @foreach(var lv in ViewBag.Linhvuc)
            {
                <option value="@lv.Idlinhvuc">@lv.Linhvuc1</option>
            }
        </select>
        <input class="thoigian" type="month" id="thoigian" name="thoigian">
            <button type ="submit" class="hienthi" id="hienthi" name="action" value="display">Hiển thị</button>
           
        <div class="dshoatdong">
        <table class="tb" id="dshd" name="danhsachhd">
            <thead>
                <tr>
                    <th>Tên hoạt động</th>
                    <th>Thời gian đăng ký</th>
                    <th>Thời gian bắt đầu</th>
                    <th>Thời gian kết thúc</th>
                    <th>Tình trạng</th>
                    <th>Chi tiết</th>
                    <th>Xem trang tổ chức</th>
                    <th>Hủy đăng ký</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var hoatDong in Model)
                {
                    <tr>
                        <td>@hoatDong.Tenhoatdong</td>
                        <td>@hoatDong.Thoigiandangky</td>
                         <td>@hoatDong.Thoigianbatdau</td>
                        <td>@hoatDong.Thoigianketthuc</td>
                        <td>@hoatDong.Tinhtrang</td>
                        <td>
                                    <a href="Canhan/Chitiethoatdongcanhan?idhd=@hoatDong.Idhoatdong">Chi tiết</a>
                                </td>
                              <td>
                                    <a href="@Url.Action("Hienthithongtintochuc", "Canhan", new { idtc = hoatDong.Idtochuc })">Xem</a>
                                  
                                  </td>
                        <td>
                        <a class ="huy" href="@Url.Action("Huydangky", "Canhan", new { IdhoatdongHuy = hoatDong.Idhoatdong })">X </a>                    
                        </td>
                    </tr>

                }
            
            </tbody>
        </table>
        </div>
      
        <div class="timkiemtenhoatdong">
            <input type="text" class="search-input" name="tenhoatdong" placeholder="Nhập tên hoạt động">
        </div>
       
    </div>
    <p>
        @ViewBag.thongbao
    </p>
   </form>
   </script>
</body>
</html>
<style>
    .container {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        position: relative; /* Cần thiết để sử dụng position absolute cho các phần tử con */
        height: 1500px;
    }


    .retangle1 {
        position: absolute;
        top: 160px;
        left: 0px;
        height: 71px;
        width: 1440px;
        background-color: rgba(118, 234, 150, 0.36);
    }

    .cbbtinhtrang {
        position: absolute;
        left: 76px;
        top: 177px;
        font-size: 16px;
        height: 39px;
        ;
        wight: 174px;
        background-color: rgba(118, 234, 150, 0.85);
    }

    .cbblinhvuc {
        position: absolute;
        left: 286px;
        top: 177px;
        font-size: 16px;
        height: 39px;
        wight: 174px;
        background-color: rgba(118, 234, 150, 0.85);
    }

    .thoigian {
        position: absolute;
        left: 476px;
        top: 177px;
        font-size: 16px;
        height: 36px;
        wight: 174px;
        background-color: rgba(118, 234, 150, 0.85);
    }

    .hienthi {
        position: absolute;
        left: 1177px;
        top: 177px;
        height: 39px;
        wight: 138px;
        font-size: 22px;
        font-weight: bold;
        background-color: transparent;
        border: none;
        outline: none;
    }

    .timkiemtenhoatdong {
        position: absolute;
        left: 790px;
        top: 178px;
        width: 389px;
        height: 47px;
    }

   

    .dshoatdong {
        position: absolute;
        left: 96px;
        top: 273px;
        width: 1248px;
        max-height: 700px;
       
        overflow-y: scroll;
        font-size:16px;
    }
         .tb{
        border-collapse: collapse; /* Đảm bảo các ô không được tách biệt */
        width: 1248px; 
         }
        .dshoatdong th, .dshoatdong td {
            padding: 6px 10px ; /* Thêm padding cho các ô */
            text-align: center; /* Căn giữa văn bản trong ô */
            border: 1px solid #ddd; /* Đường viền cho các ô */
            height: 50px; /* Thiết lập chiều cao cho các hàng */
            
        }

        .dshoatdong th {
            background-color: #f2f2f2; /* Màu nền cho hàng tiêu đề */
        }
       
        .dshoatdong tr:nth-child(even) {
            background-color: #f9f9f9; /* Màu nền cho các hàng chẵn */
        }

        .dshoatdong tr:hover {
            background-color: #ddd; /* Màu nền khi hover trên hàng */
        }

        .dshoatdong th, .dshoatdong td {
            border: 1px solid #ddd; /* Đường viền cho các ô */
        }

    .lb1 {
        position: absolute;
        left: 99px;
        top: 784px;
        width: 413px;
        height: 43px;
        font-size: 16px;
    }

    .lb2 {
        font-size: 40px;
        position: absolute;
        left: 550px;
        top: 1000px;
    }
    .huy{
        font-size:20px;
        color:red;
        text-decoration: none;
    }
  /*  .Huydangky {
        position: absolute;
        left: 1175px;
        top: 1100px;
        width: 170px;
        height: 50px;
        font-size: 20px;
        background-color: gainsboro;
        border-radius: 5px;
    }*/
</style>
