@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@model PBL3_QLHDTN.ViewModel.thongtinHoatdong
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Thông tin hoạt động</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <!-- Dẫn đường link đến các font chữ sử dụng trong trang -->
    <!-- baloo -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo&display=swap" rel="stylesheet">
    <!-- barlow -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400&display=swap" rel="stylesheet">
</head>
<body>
    <form method="post">
    <div class="thongtinHD">
        <div class="container-hienthi">
            <div class="container-gioithieu">
                <label class="tenDuan">@Model.Tenhoatdong1</label>
                <div class="frame-thoigian">
                    <label class="thoigian-diadiem">
                        Thời gian bắt đầu: @Model.Thoigianbatdau1 <br />
                        Thời gian kết thúc: @Model.Thoigiaketthuc1<br />
                        Địa điểm: @Model.DiaDiem1<br />
                        Lĩnh vực: @Model.Linhvuc11<br />
                    </label>
                </div>
                <div class="frame-muctieu">
                    <div class="MT">
                        Mục tiêu
                    </div>
                    <label class="ndMT">@Model.MuctieuHd1</label>
                </div>
            </div>
            <div class="frame-sl-yc">
                <div class="container-sl">
                    <div class="SL">
                        Số lượng TNV cần cho hoạt động
                    </div>
                    <label class="soluong">@Model.Sltnvcan1</label>
                </div>
                <div class="cacban">
                    Các ban dự kiến trong hoạt động:
                </div>
                <label class="ndYC">
                    @foreach (var tenBan in @Model.Tenban1)
                    {
                        <li>@tenBan<br /></li>
                    }
                </label>
            </div>
            <button class="dangkyTG" type="submit">
                Đăng ký tham gia
            </button>
        </div>
            <p class="TB">
                @ViewBag.thongbao
            </p>
    </div>

    </form>

</body>
<style>
    .thongtinHD {
        background: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        max-width: 1440px;
        padding-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .container-hienthi {
        background: rgba(217, 217, 217, 0.18);
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        position: relative; /* Cần thiết để sử dụng position absolute cho các phần tử con */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0);
        width: 1400px;
        height: 366px;
        display: flex;
        flex-direction: row;
    }

    .container-gioithieu {
        display: flex;
        flex-direction: column;
        width: 650px;
        box-sizing: border-box;
    }

    .tenDuan {
        margin-left: 40px;
        margin-bottom: 32px;
        display: inline-block;
        overflow-wrap: break-word;
        font-family: 'Baloo', 'Roboto Condensed';
        font-weight: 400;
        font-size: 25px;
        color: #000000;
    }

    .frame-thoigian {
        margin: 0 16px 27px 16px;
        display: flex;
        align-self: flex-start;
        box-sizing: border-box;
    }

    .thoigian-diadiem {
        overflow-wrap: break-word;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 16px;
        color: #000000;
    }

    .frame-thongdiep {
        margin: 0 16px 46px 16px;
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        width: fit-content;
        box-sizing: border-box;
    }

    .TD {
        margin-bottom: 12px;
        display: inline-block;
        align-self: flex-start;
        overflow-wrap: break-word;
        font-family: 'Baloo', 'Roboto Condensed';
        font-weight: 400;
        font-size: 20px;
        color: #000000;
    }

    .ndTD {
        overflow-wrap: break-word;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 16px;
        color: #000000;
    }

    .frame-muctieu {
        margin: 0 19px;
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        width: fit-content;
        box-sizing: border-box;
    }

    .MT {
        margin-bottom: 12px;
        display: inline-block;
        align-self: flex-start;
        overflow-wrap: break-word;
        font-family: 'Baloo', 'Roboto Condensed';
        font-weight: 400;
        font-size: 20px;
        color: #000000;
    }

    .ndMT {
        overflow-wrap: break-word;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 16px;
        color: #000000;
    }

    .frame-sl-yc {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        width: fit-content;
        align-self: flex-start;
        box-sizing: border-box;
    }

    .container-sl {
        margin-bottom: 33px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 450px;
        box-sizing: border-box;
    }

    .SL {
        margin: 21px 11.5px 3px 19px;
        display: inline-block;
        width: 400px;
        overflow-wrap: break-word;
        font-family: 'Baloo', 'Roboto Condensed';
        font-weight: 400;
        font-size: 20px;
        color: #000000;
    }

    .soluong {
        padding-left: 30px;
        margin: 10px 0 0 0;
        overflow-wrap: break-word;
        font-family: 'Baloo', 'Roboto Condensed';
        font-weight: 400;
        font-size: 40px;
        color: #0F481F;
    }

    .cacban {
        margin: 21px 11.5px 3px 19px;
        display: inline-block;
        align-self: flex-start;
        overflow-wrap: break-word;
        font-family: 'Baloo', 'Roboto Condensed';
        font-weight: 400;
        font-size: 20px;
        color: #000000;
    }

    .ndYC {
        margin: 0 24.4px 0 19px;
        overflow-wrap: break-word;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 16px;
        color: #000000;
    }

    .dangkyTG {
        overflow-wrap: break-word;
        font-family: 'Barlow';
        border-radius: 16px;
        width: 250px;
        height: 50px;
        position: absolute;
        bottom: 40px; /* Hiển thị ở phía dưới */
        right: 10px;
        background-color: #0F8730;
        font-weight: 400;
        font-size: 26px;
        color: #FFFFFF;
    }
</style>
<script>
    let dangkyTg = document.querySelector(".dangkyTG");
    dangkyTg.addEventListener("click", () => {
        window.location.href = "https://localhost:7138/Taikhoan/Dangnhap";
    });
</script>
